Client/Library/
Client/Temp/
Client/Assets/CreativeSpore/RpgMapEditor/Documentation/
Client/Assets/CreativeSpore/RpgMapEditor/Scripts/
Client/.vs/
Client/Client.csproj
Client/Client.Editor.csproj
Client/Client.sln